<!DOCTYPE html>
<html>
<head>
    <title>Cars Matching Manufacturer</title>
    <style>
        
        .matched-cars {
          list-style-type: none;
          padding: 0;
        }
        .car-item {
          background-color: #f5f5f5;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-top: 10px;
        }
      </style>
</head>
<body>
    <h2>Cars Matching Manufacturer: {{searchManufacturer}}</h2>
    {{#if cars.length}}
    <ul class="matched-cars">
        {{#each cars}}
        <li class="car-item">
            <strong>InvoiceNo:</strong> {{this.InvoiceNo}}<br>
            <strong>Manufacturer:</strong> {{this.Manufacturer}}<br>
            <strong>Model:</strong> {{this.Model}}<br>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No cars matching the Manufacturer found.</p>
    {{/if}}
</body>
</html>
